<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sfxBrowser.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <sfxBrowser.Settings1>
            <setting name="path" serializeAs="String">
                <value />
            </setting>
            <setting name="volume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="auto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="loop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mp3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="wav" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ogg" serializeAs="String">
                <value>True</value>
            </setting>
        </sfxBrowser.Settings1>
    </userSettings>
</configuration>